
.animate.shrink-position-logo{
    animation: animate_Logo 1s 0s forwards;
}

.animate.shrink-text-logo{
    animation: animate_logo_text 1s 0s forwards;
}

@keyframes animate_Logo {
    from{
        transform: translate(0,0);
        width: 168px;
        height: 168px;
    }

    to{
        width:50px;
        height: 50px;
        transform: translate(-120px, 0);
    }
}

@keyframes animate_logo_text{
    from{
        font-size: 40px;
        transform: translate(0,0);
    }

    to{
        font-size: 30px;
        transform: translate(20px, -70px);
    }
}